@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate3d(1, 1, 0, 10deg);
  }
  50% {
    transform: translateY(-10px) rotate3d(1, 1, 0, 10deg);
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.rotate-x-10 {
  transform: rotateX(10deg);
}

.skip-container {
  animation: float 6s ease-in-out infinite;
}

.skip-shadow {
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
} 